$cardBackgroundColor: #ffffff;

:host {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  z-index: 100;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 0.2;
  }
}

.card-list {
  display: flex;
  box-sizing: border-box;
  margin: 0px 0px 8px 8px;
  list-style-type: none;
  padding: 0px;
  scroll-snap-type: both mandatory;

  &::after {
    content: "";
    flex: 0 0 8px;
  }
}

.card {
  height: 225px;
  min-width: 280px;
  background-color: $cardBackgroundColor;
  margin-right: 8px;
  scroll-snap-align: center;

  &:last-of-type {
    margin-right: 0px;
  }
}
