// 1 rem = 16px
$cardBackgroundColor: #ffffff;
$bookButtonColor: #f7941d;

.card {
  height: 225px;
  width: 280px;
  background-color: $cardBackgroundColor;
  margin: 0.625rem 0px;
  margin-left: 0.625rem;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-wrapper {
  padding: 1rem;
}

.book-btn {
  height: 40px;
  margin: 0px 1rem 1rem;
  border: none;
  background-color: $bookButtonColor;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
