<!-- <span>{{ data | json }}</span> -->

<div
  class="card-body"
  #card
  [ngClass]="{'selected': selectedCardId === item?.id}"
>
  <div class="info">
    <div class="place">
      <h4 class="m-0">{{ item?.title }}</h4>
      <h4 class="m-0">{{ item?.address?.street }}</h4>
      <p class="m-0 muted uppercase">{{ item?.distance}} meters away</p>
    </div>
    <div
      class="price"
      *ngIf="item?.price"
    >
      <h4 class="m-0">&euro;{{ item?.price }}</h4>
      <p class="m-0 muted">Price may vary</p>
    </div>
  </div>
  <a
    class="book-btn"
    [routerLink]="['/book', item?.title]"
  >Book</a>
</div>
