// 1 rem = 16px
$cardBackgroundColor: #ffffff;
$bookButtonColor: #f7941d;
$headerBackgroundColor: #ebeae6;

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.selected {
    background-color: $headerBackgroundColor;
    border: 2px solid $bookButtonColor;
  }
}

.info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.book-btn {
  height: 40px;
  margin: 0px 1rem 1rem;
  border: none;
  background-color: $bookButtonColor;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
