// 1rem = 16px
$headerBackgroundColor: #ebeae6;

.form-wrapper {
  padding: 1rem;
  height: 100%;
  background-color: $headerBackgroundColor;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .submit-button {
    margin-right: 0.5rem;
  }

  .ng-invalid {
    border: 1px solid red;
  }
}
